.number-cart {
    margin-bottom: 29px;
    position: absolute;
    top: -10px;
    background-color: red;
    border-radius: 50%;
    width: 27px;
    color: white;
    height: 27px;
    display: block;
    line-height: 27px;
    text-align: center;
    left:20px;
}