<footer class="page-footer bg-catskill section-60">
    <div class="shell">
        <div class="range range-xs-center range-sm-middle text-md-left">
        <div class="cell-xs-10 cell-md-6">
            <!--Footer brand--><a href="index.html" class="reveal-inline-block">
            <div class="unit unit-xs-middle unit-md unit-md-horizontal unit-spacing-xxs">
                <div class="unit-left"></div>
                <div class="unit-body text-xl-left">
                <div>
                    <img src="./assets/images/logo-170x172.png" width="70" height="70" alt="" class="img-responsive reveal-inline-block">
                </div>
                <div>
                    <p class="brand-slogan text-gray text-italic font-accent">A Food Delivery Community</p>
                </div>
                </div>
            </div></a>
        </div>
        <div class="cell-xs-10 cell-md-6 text-md-right offset-top-20 offset-md-top-0">
            <p class="text-dark">© <span id="copyright-year">2019</span> All Rights Reserved Terms of Use and <a href="privacy.html" class="text-dark">Privacy Policy</a></p>
            <!-- {%FOOTER_LINK}-->
        </div>
        </div>
    </div>
</footer>

